.contact-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/contactBg.jpg);
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
