.header-top {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--secondary-color);
}

.header-top h1 {
  font-size: 3rem;
}

.header-bottom {
  background-color: var(--secondary-color);
  padding: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.header-nav-item a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  transition: all 0.5s ease;
}
.header-nav-item a:hover {
  background-color: var(--primary-color);
  padding: 3px;
  border-radius: 10px;
  align-items: center;
}
