@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: "Exo", sans-serif;
  --primary-color: #ff9a00;
  --secondary-color: #ffff80;
}

body {
  background-color: white;
}
